/* Root Variables for Light and Dark Themes */
/* :root {
    --background-color: #ffffff;
    --text-color: #1a1a1a;
    --primary-color: #9dbce0;
    --secondary-color: #c5b1d1;
}

[data-theme="dark"] {
    --background-color: #1a1a1a;
    --text-color: #f9f9f9;
    --primary-color: #4a4a4a;
    --secondary-color: #666666;
}

/* Apply Variables */
body {
    background-color: var(--background-color);
    color: var(--text-color);
    transition: background-color 0.3s, color 0.3s;
}

header {
    background-color: var(--primary-color);
    color: var(--text-color);
    transition: background-color 0.3s;
}

nav ul li a {
    color: var(--text-color);
} */